.game-area{
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  background: darkgray;
  border: 2px solid #282c34;

}

.snake-dot{
  position: absolute;
  width: 2%;
  height: 2%;
  background: #282c34;
  border: 1px solid #fff;
  z-index: 2;

}

.snakeFood{
  position: absolute;
  width: 2%;
  height: 2%;
  background:red;
  border: 1px solid #fff;
  z-index: 1;
}